.cursor-follower {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: rgb(19, 50, 206);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
