.daily-container {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2e86de;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #1b4f72;
}

.cards-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
}

.word-card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.word-card:hover {
  transform: scale(1.03);
}
.heading-word{
  color:rgb(190, 88, 88);
}
