.footer-section {
    background-color: #012E4A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    height:100px;
}

.footer-section > div {
    flex: 1;
    min-width: 150px;
}

.footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.icon {
    color: #FFFFFF;
    height: 50px;
    width: 50px;
    border: 2px dotted white;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    line-height: 50px;
}

.content {
    margin-left: 15px;
}

.footer-section p {
  color: #FFFFFF;
  font-size: 16px;
  margin: 0 0 5px;
}

.footer-section a {
  color: #FFFFFF;
  font-size: 18px; /* Optional: Reduce from 24px if it was too big */
  text-decoration: none;
}
.footer-section a {
  color: #FFFFFF;
  font-size: 18px; /* Optional: Reduce from 24px if it was too big */
  text-decoration: none;
}

.footer-line {
    border: none;
    border-top: 1px solid #FFFFFF;  /* white line, or choose a color */
    margin: 0;
}

