.full-dictionary-container {
  padding-top: 120px; /* Adjust based on navbar height */
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  background-color: #f5f5f5; 
  min-height: 100vh;
}
