.like-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 6px 8px;
  border-radius: 50%;
  font-size: 14px;
  color: #f25454;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 3;
  box-shadow: 0 2px 60px rgba(0,0,0,0.1);
}
.news-card:hover .like-icon {
  opacity: 1;
  transform: scale(1.1);
}
.news-title i{
    color:rgb(254, 257, 257);
}