.main-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.blurred-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  filter: blur(4px) brightness(0.9);
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 3;
  text-align: left;
  padding: 30px 40px;
  max-width: 500px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.overlay-content h1 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}

.overlay-content h1 span {
  color: #ff5e57;
}

.overlay-content p {
  font-size: 20px;
  color: #eee;
  margin-bottom: 30px;
}

.main-buttons {
  display: flex;
  gap: 20px;
}

.shop-btn,
.sell-btn {
  position: relative;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

.shop-btn::before,
.sell-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: left 0.4s ease;
}

.shop-btn {
  background-color: #1e3a8a;
  color: white;
}

.shop-btn::before {
  background: #ff5e57;
}

.shop-btn:hover::before {
  left: 0;
}

.shop-btn:hover {
  color: #fff;
}

.sell-btn {
  background-color: transparent;
  color: #f9f9f9;
  border: 2px solid #1e3a8a;
}

.sell-btn::before {
 
   background:  #ff5e57;
   opacity:0.9;
}

.sell-btn:hover::before {
  left: 0;
  
}

.sell-btn:hover {
  color: #fff;
  border:#f2bdbd
}

.glassmorphic-card {
  position: relative;
  z-index: 3;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: left;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.glassmorphic-card:hover {
  z-index: 6;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.quick-messages-list {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 4;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: opacity 1.2s ease;
}

.quick-message-item {
  opacity: 0;
  transform: translateY(10px);
  animation: smoothFadeIn 0.6s forwards ease-out;
}

@keyframes smoothFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.quick-messages-list.fade-out {
  opacity: 0;
}
